<footer class="footer text-center">
	<div class="container">
		<div
			class="row">
			<!-- Footer Location-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">adresse</h4>
				<p class="lead mb-0">
					34 rue de Genève
					<br/>
					01210 Ferney-Voltaire
				</p>
			</div>
			<!-- Footer Social Icons-->
			<div class="col-lg-4 mb-5 mb-lg-0">
				<h4 class="text-uppercase mb-4">coordonées</h4>
				<p>contact@issa-diallo.com</p>
				<p>0631776129</p>

			</div>
			<!-- Footer About Text-->
			<div class="col-lg-4">
				<h4 class="text-uppercase mb-4" id="contact">social</h4>
				<p class="lead mb-0">
					<a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/issa-diallo/">
						<i class="fab fa-fw fa-linkedin-in"></i>
					</a>
					<a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/S.industrie/">
						<i class="fab fa-fw fa-facebook-f"></i>
					</a>
					<a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Dial1201">
						<i class="fab fa-github"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
</footer>
